$color-gray: #e5e5e5;
$color-black: #1d1d1d;
$color-white: #fff;
$headerTopPadding: 24px;
$color-blue: #0075ff;
$color-placeholder: #7e7e83;
$color-hover: #af3419;
$color-light-gray: #b4bdc3;
$color-silver: #e2e6e9;
$color-light: #eee;
$color-energy: #ea340d;
$color-main: #cd4d31;
$color-disabled: #dd836f;