$logo-width: 40px;
$logo-height: 12px;
$card-width: 256px;
$card-image-width: 208px;
$anim-time: 300ms;

$color-gray: #e5e5e5;
$color-black: #1d1d1d;
$color-white: #fff;
$headerTopPadding: 24px;
$color-blue: #0075ff;
$color-placeholder: #7e7e83;
$color-hover: #af3419;
$color-light-gray: #b4bdc3;
$color-silver: #e2e6e9;
$color-light: #eee;
$color-energy: #ea340d;
$color-main: #cd4d31;
$color-disabled: #dd836f;
$colorBlack: #313237;
$colorGreen: #27ae60;
$colorGray: #89939a;
$colorLightGray: #b4bdc3;
$colorSilver: #e2e6e9;
$colorWhite: #fff;
$colorLight: #eee;
$colorBlue: #00acdc;
$colorDarkBlue: #060b35;
$colorSpaceGray: #e2e6e9;
$colorRoseGold: #fcdbc1;
$colorRoseRed: #d53c51;
$color-btn-bgr: #f4e041;
$color-btn-hover: #ffe302;
$color-btn-disabled: #b4b4b4;
// $color-placeholder: #7e7e7e;