@import "../../style/utils";

.logo {
  text-decoration: none;
  display: block;

  border-radius: 35px;
  position: relative;
  width: 100px;
  height: 60px;

  @include onDekstop {
    width: 160px;
    height: 80px;
  }
  

  background-image: url(../../images/logo.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  text-decoration: none;

  &__link {
    text-decoration: none;
  }
}
