@import "../../style/utils";

.nav {
  &__list {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 15px;
  }

  &__link {
    padding: 10px 0;
    font-weight: bold;
    font-size: 15px;
    line-height: 10px;
    text-transform: uppercase;
    text-decoration: none;
    color: $color-black;
    transition: color 0.3s, border-color 0.3s;
    border-bottom: 3px solid transparent;

    // &--active {
    //   color: $color-white;
    //   border-color: $color-white;
    // }

    &:hover {
      color: $color-light-gray;
      border-color: $color-light-gray;
    }
  }

  &__link-logo {
    border-bottom: 0;
  }
}
